<% const monthNames = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"]; %>
<div class="container mt-5">
  <h1 class="text-center">Budget</h1>

  <% if (success_msg && success_msg.length > 0) { %>
  <div class="alert alert-success"><%= success_msg %></div>
  <% } %> <% if (error_msg && error_msg.length > 0) { %>
  <div class="alert alert-danger"><%= error_msg %></div>
  <% } %>

  <h2 class="mt-4">Fixed Expenses</h2>
  <span class="ml-3">Total: $<%= parseFloat(fixedTotal).toFixed(2) %></span>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Expense</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <% groupedFixed.forEach((expenses, index) => { %> <%
      expenses.forEach(expense => { %>
      <tr>
        <td><%= expense.name %></td>
        <td>$<%= parseFloat(expense.amount).toFixed(2) %></td>
        <td><%= expense.category %></td>
        <td><%= monthNames[index] %></td>
        <td><%= expense.year %></td>
      </tr>
      <% }) %> <% }) %>
    </tbody>
  </table>

  <h2 class="mt-4">Variable Expenses</h2>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Expense</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <% groupedVariable.forEach((expenses, index) => { %> <%
      expenses.forEach(expense => { %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.category %></td>
        <td><%= monthNames[index] %></td>
        <td><%= expense.year %></td>
      </tr>
      <% }) %> <% }) %>
    </tbody>
  </table>
</div>
